.badge{
	padding:.25em .4em .3em;
}

.count-label{
	color:#aaaaaa;
	font-weight: 400;
	font-size: 0.9rem;
	min-width: 100%;
}

.minh-100{
	min-height:100vh;
	overflow: hidden;
}

.treck{
	display: flex;
	height:2px;
	background-color: #6c757d;
	margin:2rem 0 0.5rem 0;
}

.treck-done{
	width:0%;
	height:2px;
	transition: width 0.8s;
	background: linear-gradient(to right, #393 0%,#9f6 50%, #0f0 100%);
}
.point{
	width:10px;
	height:10px;
	border-radius: 50%;
	border:1px solid #0f0;
	margin-top: -4px;
}

.question{
	min-height: 300px;
	padding:2rem 2rem 1rem 2rem;

}

.question h4{
	font-size: 1.25rem;
}


.question-wrap{
	perspective: 2700px;
}

#app{
	perspective: 2700px;
}

.control-bar{
	padding:1.5rem 0 1.25rem 0;
	border-bottom:1px solid #6c757d;
	flex-wrap: wrap;
}

.control-bar .btn{
	margin-bottom: 0.25rem;
}

.nav-question{
	line-height: 1;
	font-size: 0.8rem;
	text-align: center;
	padding:0.22rem 0.24rem 0.2rem;
	margin:0.28rem;
	border:1px solid #343a40;
	transition: border-color 0.6s;
	cursor:pointer;
}

.nav-question-active{
	border:1px solid #999;
	transition: border-color 0.6s;
}

.nav-question:hover{
	border:1px solid #999;
	transition: border-color 0.3s;
}

.nav-question__number{
	line-height: 1;
	font-size: 0.9rem;
	padding-top: 0.1rem;
	padding: 0.1rem 0.22rem;
	color:#999;
}

@media (min-width: 576px){

.question{
	min-height: 400px;
	padding:3rem 3rem 2rem 3rem;
}
.question h4{
	font-size: 1.5rem;
}

}
@media (min-width: 768px){

.question{
	min-height: 400px;
}

html, body{
	font-size: 20px;
}

.form-check-input{
	margin-top: .5rem;
}

}

@media (min-width: 992px){

.container {
	max-width: 720px;
}

}

@media (min-width: 1200px){

.container {
    max-width: 720px;
}

}


.slide-enter{
	
}

.slide-enter-active{
	animation: slideIn 0.5s ease-out;
}

.slide-enter-to{
	
}

.slide-leave{
	
}

.slide-leave-active{
	animation: slideOut 0.5s ease-in;
}

.slide-leave-to{
	
}

@keyframes slideIn{
	from{transform: rotateY(-90deg);}
	to{transform: rotateY(0deg);}
}

@keyframes slideOut{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(90deg);}
}
.fade-enter{
	opacity: 0;
}

.fade-enter-active{
	transition: opacity 0.2s;
}

.fade-leave-active{
	transition: opacity 0.2s;
}

.fade-leave-to{
	opacity: 0;
}