<template>
	<div class="form-group">
		<div class="form-check" v-for="(answer, i) in answers">
			<input class="form-check-input"
			 type="checkbox" 
			 v-model="value[i]" 
			 :id="'checkbox'+i" 
			 @change="update"
			 >
			 <label class="form-check-label" :for="'checkbox'+i"> {{answer}} </label>
		</div>
	</div>
</template>

<script>
	export default {
		
		props:{
			answers: Array,
			currentValue: Array
		},
		data(){
			return {
				value: [] 
			}
		},
		computed:{
			userAnswer(){
				let usAn = [];
				for(let i = 0; i < this.value.length; i++){
					if(this.value[i])usAn.push(this.answers[i]);
				}

				return usAn;
			},
			done(){
				return (this.userAnswer.length != 0) ?  true : false;
			}
		},
		methods:{
			update(){
				let data = {
					userAnswer: this.userAnswer,
					done: this.done
				}
				this.$emit('update', data);
			}
		},
		created(){

			for(let i = 0; i < this.answers.length; i++){
				let init = false;
				for(let j = 0; j < this.currentValue.length; j++){
					if(this.answers[i] == this.currentValue[j]){
						this.value.push(true);
						init = true;
						break;
					}
				}
				if(!init) this.value.push(false);
			}

		}
	}
</script>
