<template>
	<div class="d-flex flex-wrap  justify-content-center my-3">
		<div v-for="(answer, i) in doneAnswers" class="bg-dark rounded nav-question" :class="{'nav-question-active': currentQuest == i}" @click="transit(i)">
			<transition name="fade" mode="out-in">
					<span v-if="answer" class="fa fa-check text-success" :class="answer" key="done"></span>
					<span v-else class="fa fa-question text-danger" key="space"></span>
			</transition>
			<div class="text-center px-1 nav-question__number">{{ i + 1 }}</div> 
		</div>

	</div>
</template>

<script>
	export default {
		props:{
			doneAnswers: Array,
			currentQuest: Number
		},
		methods:{
			transit(i){
				this.$emit('transit', i)
			}
		}
	}
</script>
