<template>
	<div class="d-flex flex-wrap  justify-content-center my-3">
		<div v-for="(answer, i) in answers" class="bg-dark rounded nav-question" :class="{'nav-question-active': currentAnswer == i}" @click="transit(i)">
			<template>
					<span v-if="answer.checkAnswer" class="fa fa-check text-success" key="done"></span>
					<span v-else class="fa fa-times text-danger" key="space"></span>
			</template>
			<div class="text-center px-1 nav-question__number">{{ i + 1 }}</div> 
		</div>

	</div>
</template>

<script>
	export default {
		props:{
			answers: Array,
			currentAnswer: Number
		},
		methods:{
			transit(i){
				this.$emit('transit', i)
			}
		}
	}
</script>

