<template>
	<div>
		<h4 class="mb-3"><small class="text-muted">{{numberQuest}}.</small> {{ question.title }}</h4>
		<component 
			:is="inputType" 
			:answers="question.answers"
			:currentValue="question.userAnswer"
			@update="update"
			>
			
		</component> 

	</div>
</template>

<script>
import AppCheckbox from './Checkbox';
import AppRadio from './Radio';
	export default {
		props:{
			question: {
				type: Object
			},
			currentQuest:Number
		},
		components:{
			AppCheckbox,
			AppRadio
		},
		computed: {
			numberQuest(){
				return this.currentQuest + 1;
			},
			inputType(){
				return (this.question.type == 'radio') ? 'AppRadio' : 'AppCheckbox';
			}
		},
		methods:{
			update(data){
				this.$emit('update', data);
			}
		}
	}
</script>
