<template>
	<div class="form-group">
		
			<div class="form-check" v-for="(answer, i) in answers">
				<input class="form-check-input" 
					type="radio" 
					v-model="value[0]" 
					:value="answer" 
					:id="'radio'+i"
					@change="update"
					>
				<label class="form-check-label" :for="'radio'+i">{{answer}}</label>
			</div>

	</div>
</template>

<script>
	export default {
		props:{
			answers: Array,
			currentValue: Array
		},
		data(){
			return {
				value: [''] 
			}
		},
		computed:{
			done(){
				return (this.value != '') ?  true : false;
			}
		},
		methods:{
			update(){
				let data = {
					userAnswer: this.value,
					done: this.done
				}
				this.$emit('update', data);
			}
		},
		created(){
			if(this.currentValue.length > 0){
			 this.value[0] = this.currentValue[0];
			}
			

		}
	}
</script>
