<template>

	<div>
		<h1 class="h3 text-light text-center pt-3 pb-2">{{testlabel}}</h1>

		<div class="text-light text-center pb-4 mb-2">
			Вы ответили правильно на {{sumCorrect}} из {{this.questions.length}} вопросов 
		</div>

		<div class="question-wrap">
			<transition name="slide" mode="out-in">
				<div class="bg-white rounded question" :key="currentAnswer">
					
					<div v-if="outAnswers[currentAnswer].checkAnswer" class="alert alert-success mb-4" role="alert">
						Ваш ответ правильный
					</div>
					<div v-else class="alert alert-danger mb-4" role="alert">
						Ваш ответ неверный
					</div>
					<h5 class="mb-3 text-secondary">
						<small class="text-muted">{{numberAnswer}}.</small> {{ questions[currentAnswer].title }}
					</h5>

					<div class="mb-3"><span class="badge badge-light">Ваш ответ:</span><p>{{outAnswers[currentAnswer].userAnswer}}</p></div>
					<div v-if="!outAnswers[currentAnswer].checkAnswer"><span class="badge badge-light">Правильный ответ:</span><p>{{outAnswers[currentAnswer].correctAnswer}}</p></div>
				</div>

			</transition> 
		</div>

		<div class="d-flex justify-content-between control-bar">
			<div>
				<button class="btn btn-primary" :disabled="disPrevA" @click="nextAnswer(-1)">
					Prev
				</button>
				<button class="btn btn-primary" :disabled="disNextA" @click="nextAnswer(1)">
					Next
				</button>
			</div>
			<button class="btn btn-secondary" @click="exit">
				Выход
			</button>
		</div>

		<nav-result 
		:answers="outAnswers"
		:currentAnswer="currentAnswer"
		@transit="transit"
		>
		</nav-result>

	</div>
</template>

<script>
	import NavResult from './NavResult';
	export default {
		props:{
			questions: Array,
			testlabel: String
		},
		data () {
			return {
				currentAnswer: 0
			}
		},
		computed:{
			numberAnswer(){
				return this.currentAnswer + 1;
			},
			outAnswers(){
				
				let arr = [];
				for(let i = 0; i < this.questions.length; i++){

					let usAnswer = this.questions[i].userAnswer.sort().join('; ');
					let corAnswer = this.questions[i].correctAnswer.sort().join('; ');
					let check = (usAnswer == corAnswer);
					let outAnswer = {
						userAnswer: usAnswer,
						correctAnswer: corAnswer,
						checkAnswer: check
					};
					arr.push(outAnswer);
				}
				return arr;

			},
			sumCorrect(){
        let sum = 0;
        for(let i = 0; i < this.outAnswers.length; i++){
        	if(this.outAnswers[i].checkAnswer)sum++;
				};
				return sum;
			},
			disPrevA(){
	      return this.currentAnswer <=0
	    },
	    disNextA(){
	      return this.currentAnswer >= this.questions.length - 1
	    }
		},
		methods:{
			nextAnswer(dir){
				this.currentAnswer += dir;
			},
			exit(){
				this.$emit('exit');
			},
			transit(i){
				this.currentAnswer = i;
			}
		},
		components:{
			NavResult
		}
	}
</script>
