<template> 
  <div class="container py-4" >
    <transition name="slide" mode="out-in">
      <div v-if="!showResult">
        <h1 class="h3 text-light text-center pt-3 pb-2">{{testlabel}}</h1>
        <div class="treck">
          <div class="treck-done"
            :style="progress"
            ></div>
          <div class="point bg-dark"></div>
        </div>
        <div class="text-success text-center pb-4 mb-2">
          Вы ответили на
          <animated-integer v-bind:value="done" class="h5"></animated-integer>
          вопросов.
        </div>
        <template>
          <div class="question-wrap">
            <transition name="slide" mode="out-in">
              <app-question

                :question="questions[currentQuest]"
                :currentQuest="currentQuest"
                @update="update"
                :key="currentQuest"
                class="bg-white rounded question"
              >                
              </app-question>
            </transition>
          </div>
          <div class="d-flex justify-content-between control-bar">
            <div>
              <button class="btn btn-primary" :disabled="disPrev" @click="nextQuestion(-1)">
                Prev
              </button>
              <button class="btn btn-primary" :disabled="disNext" @click="nextQuestion(1)">
                Next
              </button>
            </div>
            <button :disabled="disResult" @click="pageResult" class="btn btn-success">
                Результаты
            </button>
            <button class="btn btn-secondary" @click="exit">
                Выход
            </button>

          </div>
          <nav-question 
            :doneAnswers="doneAnswers"
            :currentQuest="currentQuest"
            @transit="transit"
          >            
          </nav-question>
        </template>
      </div>
      <app-result v-else 
        @exit="exit"
        :questions="questions"
        :testlabel="testlabel"    
        >
      </app-result>
    </transition>
  </div>
  
</template>

<script>
import AppQuestion from './Question';
import AppResult from './Result';
import AnimatedInteger from './AnimatedInteger';
import NavQuestion from './NavQuestion';

export default {
  props:{
    test: Array,
    testlabel: String
  },
  data () {
    return {
      questions: [],
      currentQuest: 0,
      doneAnswers:[],
      showResult: false
    }
  },
  components:{
    AppQuestion,
    AppResult,
    AnimatedInteger,
    NavQuestion
  },
  computed:{
    disPrev(){
      return this.currentQuest <=0
    },
    disNext(){
      return this.currentQuest >= this.questions.length - 1
    },
    disResult(){
      return this.done < 100
    },
    done(){
      let done = 0;
      if(this.doneAnswers.length > 0){
        for(let i = 0; i < this.doneAnswers.length; i++){
          if(this.doneAnswers[i]) done++;
        }
        done = done/this.doneAnswers.length*100;
      }
      return done;

    },
    progress(){
      return {
        width: this.done + '%'
      } 
    }
  },
  methods:{
    pageResult(){
      this.showResult = true; 
    },
    nextQuestion(dir){
      this.currentQuest += dir;
    },
    update(data){
      this.questions[this.currentQuest].userAnswer =  data.userAnswer;
      this.$set(this.doneAnswers, this.currentQuest, data.done);
    },
    transit(i){
      this.currentQuest = i;
    },
    exit(){
      this.$emit('exit');
    }
    
  },
  created(){
    for(let i = 0; i < this.test.length; i++){
      let question = {
        type: this.test[i].type,
        title: this.test[i].title,
        answers: this.test[i].answers,
        correctAnswer: this.test[i].correctAnswer,
        userAnswer:[]
      }
      this.questions.push(question);
      this.doneAnswers.push(false);
    }
  }
}



</script>


