<template>
  <div id="app" class="bg-dark" >
    <transition name="slide" mode="out-in">
      <div class="container py-4" v-if="startPage">

        <h1 class="h3 text-light text-center py-3">Викторины и тесты</h1>
        <div class="py-5">
          <div v-for="(test, i) in tests" class="row pb-5">
            <div class="col-5 col-sm-5 col-md-4 text-center" :class="(i == 1) ? 'offset-6 offset-sm-7 offset-md-8' : (i ==2) ? 'offset-1 offset-sm-2 offset-md-3' : ''">
              <h5 class="text-light font-weight-light">{{test.title}}</h5>
              <span class="count-label d-inline-block">{{test.count}} вопросов</span>
              <button class="btn btn-primary mt-2"
                @click="testStart(test)"
              >
              Начать тест</button>
            </div>
          </div>
          
        </div>
      </div>
      <app-test v-else
        :test="test"
        :testlabel="testLabel"
        @exit="exit"
        >
        
      </app-test>
    </transition>
  </div>
</template>

<script>
import AppTest from './components/Test';

export default {
  name: 'app',
  data () {
    return {
      page:'start',
      testLabel:''
    }
  },
  components:{
    AppTest
  },
  computed:{
    startPage(){
      return this.page == 'start'

    },
    tests(){
      return getTests();
    },
    test(){
      return this.startPage ? [] : getQuests(this.page)
    }
  },
  methods:{
    testStart(test){
      this.testLabel = test.title;
      this.page = test.id;
    },
    exit(){
      this.page = 'start'
    }
  }
}

function getTests(){
  let tests = [
    {
      id:"quiz",
      title:"По следам миллионеров",
      count: 15
    },
    {
      id:"stress",
      title:"Правильная постановка ударений",
      count: 5
    },
    {
      id:"vueStart",
      title:"Фреймворк Vue.js",
      count: 10
    }

  ]

  return tests;
}

function getQuests(test){
  let tests = {
    vueStart:[
      {
        type: 'radio',
        title: 'Какой атрибут будет срабатывать при клике на объект?',
        answers: [
        '<span v-on-click="change">Текст</span>',
        '<span v-click="change">Текст</span>',
        '<span onclick="change">Текст</span>',
        '<span @click="change">Текст</span>',
        '<span @click="{{change}}">Текст</span>'
        ],
        correctAnswer: [
        '<span @click="change">Текст</span>'
        ]
      },
      {
        type: 'radio',
        title: 'Как получить данные из текстового поля?',
        answers: [
        '$event.value',
        '$event.target',
        '$target.value',
        '$event.target.value',
        '$event.target.val'
        ],
        correctAnswer: [
        '$event.target.value'
        ]
      },
      {
        type: 'radio',
        title: 'Как обратиться к переменной text в объекте?',
        answers: [
        'this>text',
        'this.text',
        'this=>text',
        'this->text',
        'that.text'
        ],
        correctAnswer: [
        'this.text'
        ]
      },
      {
        type: 'radio',
        title: 'Где правильно создан Vue объект?',
        answers: [
        'new Vue { }',
        'var test = Vue ({ })',
        'new Vue ()',
        'var test = new Vue { }',
        'var test = new Vue ({ })'
        ],
        correctAnswer: [
        'var test = new Vue ({ })'
        ]
      },
      {
        type: 'radio',
        title: 'Как вывести переменную message в HTML?',
        answers: [
        '{message}',
        '{{message}}',
        'К тегу добавить атрибут :value="message"',
        'message',
        '<message></message>'
        ],
        correctAnswer: [
        '{{message}}'
        ]
      },
      {
        type: 'radio',
        title: 'Как выбрать этот элемент в Vue.js? <h2 class="app" id="main"></h2>',
        answers: [
        "el: '.app'",
        'Нельзя найти элемент, так как он не див (div)',
        'Все способы правильные, но чтобы все работало корректно лучше искать по id',
        "el: 'h2''",
        "el: '#main'"
        ],
        correctAnswer: [
        'Все способы правильные, но чтобы все работало корректно лучше искать по id'
        ]
      },
      {
        type: 'radio',
        title: 'Как установить переменную text в атрибут title у тега p?',
        answers: [
        '<p :title="text">Текст</p>',
        '<p title="text">Текст</p>',
        '<p :title="{{text}}">Текст</p>',
        '<p title="{{text}}">Текст</p>',
        '<p v-title="text">Текст</p>'
        ],
        correctAnswer: [
        '<p :title="text">Текст</p>'
        ]
      },
      {
        type: 'radio',
        title: 'Как называется объект куда записываются все функции в Vue объекте?',
        answers: [
        'storage: { }',
        'methods: { }',
        'components: { }',
        'functoins: { }'
        ],
        correctAnswer: [
        'methods: { }'
        ]
      },
      {
        type: 'radio',
        title: 'Что такое Vue.js?',
        answers: [
        'Это расширение',
        'Это библиотека',
        'Это возможности JavaScript',
        'Это фреймворк'
        ],
        correctAnswer: [
        'Это фреймворк'
        ]
      }
    ],
    quiz:[
      {
        type: 'radio',
        title: 'К какому типу сыров относится сулугуни?',
        answers: [
        'твёрдые',
        'мягкие',
        'рассольные',
        'плавленые'
        ],
        correctAnswer: [
        'рассольные'
        ]
      },
      {
        type: 'radio',
        title: 'Какими не бывают углы в геометрии?',
        answers: [
        'острыми',
        'тупыми',
        'прямыми',
        'кривыми'
        ],
        correctAnswer: [
        'кривыми'
        ]
      },
      {
        type: 'radio',
        title: 'Как называется оптическое устройство, необходимое фотокамере?',
        answers: [
        'негатив',
        'позитив',
        'объектив',
        'мотив'
        ],
        correctAnswer: [
        'объектив'
        ]
      },
      {
        type: 'radio',
        title: 'С помощью чего пасссажиры часто попадают в самолет?',
        answers: [
        'рукава',
        'воротника',
        'лацкана',
        'манжеты'
        ],
        correctAnswer: [
        'рукава'
        ]
      },
      {
        type: 'radio',
        title: 'Какой клетки нет на шахматной доске?',
        answers: [
        'h8',
        'b7',
        'g5',
        'k6'
        ],
        correctAnswer: [
        'k6'
        ]
      },
      {
        type: 'radio',
        title: 'Какая бывает лопата?',
        answers: [
        'совковая',
        'граблевая',
        'тяпковая',
        'мотыжная'
        ],
        correctAnswer: [
        'совковая'
        ]
      },
      {
        type: 'radio',
        title: 'Какой вид физических упражений получил название по имени изобретателя?',
        answers: [
        'стретчинг',
        'кроссфит',
        'тай-бо',
        'пилатес'
        ],
        correctAnswer: [
        'пилатес'
        ]
      },
      {
        type: 'radio',
        title: 'Какую причёску носит Джек Воробей в "Пиратах Карибского моря"?',
        answers: [
        'ирокез',
        'полубокс',
        'дреды',
        'конский хвост'
        ],
        correctAnswer: [
        'дреды'
        ]
      },
      {
        type: 'radio',
        title: 'Какое число в русском лото прозвали "стульчиками"?',
        answers: [
        '22',
        '33',
        '44',
        '55'
        ],
        correctAnswer: [
        '44'
        ]
      },
      {
        type: 'radio',
        title: 'В каком городе нет метрополитена?',
        answers: [
        'Нижний Новгород',
        'Самара',
        'Воронеж',
        'Новосибирск'
        ],
        correctAnswer: [
        'Воронеж'
        ]
      },
      {
        type: 'radio',
        title: 'Какое понятие характеризует движение корабля или самолета?',
        answers: [
        'ракетное ускорение',
        'вездеходная траектория',
        'паровозное торможение',
        'крейсерская скорость'
        ],
        correctAnswer: [
        'крейсерская скорость'
        ]
      },
      {
        type: 'radio',
        title: 'Что способствует размножению грибов?',
        answers: [
        'дебаты',
        'споры',
        'полемика',
        'прения'
        ],
        correctAnswer: [
        'споры'
        ]
      },
      {
        type: 'radio',
        title: 'В какой стране мусака - национальное блюдо?',
        answers: [
        'Италия',
        'Испания',
        'Португалия',
        'Греция'
        ],
        correctAnswer: [
        'Греция'
        ]
      },
      {
        type: 'radio',
        title: 'Где испанцы ставят восклицательный знак в предложении?',
        answers: [
        'только в начале',
        'только в конце',
        'и в начале и в конце',
        'перед последним словом'
        ],
        correctAnswer: [
        'и в начале и в конце'
        ]
      },
      {
        type: 'radio',
        title: 'Каким цветом в России и Европе маркируются самые сложные горнолыжные трассы?',
        answers: [
        'красным',
        'синим',
        'белым',
        'чёрным'
        ],
        correctAnswer: [
        'чёрным'
        ]
      }
      /*
      ,
      {
        type: 'radio',
        title: 'Какой напиток получится, если заварить высохшие цветы суданской розы?',
        answers: [
        'мате',
        'каркаде',
        'улун',
        'пуэр'
        ],
        correctAnswer: [
        'каркаде'
        ]
      },
      {
        type: 'radio',
        title: 'Зачем куры поедают мелкие камешки?',
        answers: [
        'для сохранения равновесия',
        'чистят зоб',
        'путают с зернами',
        'для лучшего пищеварения'
        ],
        correctAnswer: [
        'для лучшего пищеварения'
        ]
      }
      */
    ],
    stress:[
      {
        type: 'checkbox',
        title: 'В некоторых вариантах допущена ошибка в постановке ударения. Выберите варианты без ошибок.',
        answers: [
        'катАлог',
        'корЫсть',
        'лыжнЯ',
        'цЕпочка'
        ],
        correctAnswer: [
        'корЫсть',
        'лыжнЯ'
        ]
      },
      {
        type: 'radio',
        title: 'Выберите правильное ударение.',
        answers: [
        'зАкупорить',
        'закУпорить',
        'закупОрить',
        'закупорИть'
        ],
        correctAnswer: [
        'закУпорить'
        ]
      },
      {
        type: 'checkbox',
        title: 'В некоторых вариантах допущена ошибка в постановке ударения. Выберите варианты без ошибок.',
        answers: [
        'щАвель',
        'тортЫ',
        'слИвовый',
        'кУхонный'
        ],
        correctAnswer: [
        'слИвовый',
        'кУхонный'
        ]
      },
      {
        type: 'radio',
        title: 'Выберите правильное ударение.',
        answers: [
        'бАлованный',
        'балОванный',
        'баловАнный'
        ],
        correctAnswer: [
        'балОванный'
        ]
      },
      {
        type: 'checkbox',
        title: 'В некоторых вариантах допущена ошибка в постановке ударения. Выберите варианты без ошибок.',
        answers: [
        'знАчимый',
        'бухгАлтер',
        'досУг',
        'нЕдуг'
        ],
        correctAnswer: [
        'знАчимый',
        'бухгАлтер',
        'досУг'
        ]
      }
      /*
      ,
      {
        type: 'checkbox',
        title: 'В некоторых вариантах допущена ошибка в постановке ударения. Выберите варианты без ошибок.',
        answers: [
        'красИвее',
        'добЕла',
        'ждалА',
        'звонИм'
        ],
        correctAnswer: [
        'красИвее',
        'ждалА',
        'звонИм'
        ]
      },
      {
        type: 'radio',
        title: 'Выберите правильное ударение.',
        answers: [
        'мусоропрОвод',
        'мусоропровОд'
        ],
        correctAnswer: [
        'мусоропровОд'
        ]
      },
      {
        type: 'radio',
        title: 'Выберите правильное ударение.',
        answers: [
        'электропрОвод',
        'электропровОд'
        ],
        correctAnswer: [
        'электропрОвод'
        ]
      },
      {
        type: 'checkbox',
        title: 'В некоторых вариантах допущена ошибка в постановке ударения. Выберите варианты без ошибок.',
        answers: [
        'докумЕнт',
        'договОрённость',
        'диспансЕр',
        'иксЫ'
        ],
        correctAnswer: [
        'докумЕнт',       
        'диспансЕр'
        ]
      },
      {
        type: 'checkbox',
        title: 'В некоторых вариантах допущена ошибка в постановке ударения. Выберите варианты без ошибок.',
        answers: [
        'столЯр',
        'средствА',
        'квартАл'
        ],
        correctAnswer: [
        'столЯр',        
        'квартАл'
        ]
      }
      */
    ]
  };
  //return tests;
  return (test in tests) ? tests[test] : [];
};

</script>


